{{ form_start(form, { 'attr' : { 'class': 'card' } }) }}
    <div class="card-body">
        {{ form_widget(form) }}
    </div>
    <div class="card-footer text-end">
        <button name="submit" value="submit" type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <button name="submit" value="submit_and_close" type="submit" class="btn btn-primary">{{ button_label|default('Save') }} and close</button>
    </div>
{{ form_end(form) }}
