{% set blockId = this.blockId %}

<div class="accordion" id="accordion-{{ blockId }}">
    {% for item in this.items %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false">
                    {{ item.title }}
                </button>
            </h2>
            <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ blockId }}">
                <div class="accordion-body pt-0">
                    {{ item.content }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
